/*
Hat tip to Yihui Xie for these great fonts.
Some of this CSS is inspired by xaringan
https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/example.css
*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body{
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  background-color: #555;
  /*background-color: #272822;*/
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
  /* https://getbootstrap.com/components/#navbar-fixed-top */
  padding-top: 50px;
}
h1, h2, h3{
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #f3f3f3;
  text-align: center;
}

/* default bootstrap styling of links on hover don't look great */
a:visted {
  color: #f3f3f3 !important;
  text-shadow: none !important;
}

a:hover {
  color: #f3f3f3 !important;
  cursor: pointer !important;
}

/* https://stackoverflow.com/questions/24603003/changing-the-maximum-width-of-r-markdown-documents */
body .main-container{
  max-width: 100%;
}

/* place caption in opening carousel below the images */
.carousel-caption {
  position:relative;
  left:auto;
  right:auto;
  padding-bottom:0;
  max-width:700px;
  margin:auto;
}

/* three services per line (by default) */
#service-box div {
  width: 50%;
  padding: 1em;
  text-align: center;
}

#about-pic {
  width: 30%;
  margin:auto;
  padding: 1em;
}

#about-pic img {
  border-radius: 15px;
  filter: grayscale(100%);
}

#about-pic img:hover {
  filter: none;
}

#about-txt {
  width: 70%;
  padding: 1em;
}

/* TODO: if width is less than 700, content  */
@media screen and (max-width: 700px) {
  #service-box div {
    width: 100%;
  }
  #about-box div {
    width: 100%;
  }
}

/*
  Make client logos pop on hover
  https://codepen.io/tutsplus/pen/dNPReW
*/
#clients img {
  border-radius: 15px;
  filter: grayscale(100%);
}

#clients a:hover img {
  filter: none;
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  z-index:5;
}

#contact-buttons button {
  color: #337ab7 !important;
  background-color: #d6d6d6 !important;
}

#contact-buttons a:hover button {
  color: black !important;
}
