/*
Hat tip to Yihui Xie for these great fonts.
Some of this CSS is inspired by xaringan
https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/example.css
*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body{
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
  /* https://getbootstrap.com/components/#navbar-fixed-top */
  padding-top: 50px;
}
h1, h2, h3{
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #f3f3f3;
}

/* https://stackoverflow.com/questions/24603003/changing-the-maximum-width-of-r-markdown-documents */
body .main-container{
  max-width: 95%;
}


/* https://codepen.io/tutsplus/pen/dNPReW */
#clients a:hover img {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  z-index:5;
}

#clients img{
  border-radius: 15px;
}


.full-width {
    width: 100%;
}

#carousel-o-praise .carousel-caption h3{
  color: black;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
